modules = ["web", "python-3.12", "nodejs-20"]
run = "pip install -r requirements.txt"

[nix]
channel = "stable-25_05"
packages = ["freetype", "lcms2", "libimagequant", "libjpeg", "libmysqlclient", "libpng", "libtiff", "libwebp", "libxcrypt", "lsof", "openjpeg", "openssh_gssapi", "pgadmin4", "postgresql", "tcl", "tk", "zlib"]

[deployment]
run = ["gunicorn", "--bind=0.0.0.0:5000", "--reuse-port", "ruweholyghostchurch.wsgi:application"]
deploymentTarget = "autoscale"
build = ["python", "manage.py", "collectstatic", "--noinput"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Django Development Server"
author = 45763594
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python manage.py migrate"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python manage.py runserver 0.0.0.0:5000"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Django Server"

[[workflows.workflow]]
name = "Django Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 manage.py runserver 0.0.0.0:5000"
waitForPort = 5000

[[workflows.workflow]]
name = "Django with MySQL Setup"
author = 47893207
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python manage.py makemigrations"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python manage.py migrate"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python manage.py runserver 0.0.0.0:5000"

[[workflows.workflow]]
name = "Django with PostgreSQL Setup"
author = 47893207
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python manage.py makemigrations"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python manage.py migrate"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python manage.py runserver 0.0.0.0:5000"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 39407
externalPort = 3000

[[ports]]
localPort = 41775
externalPort = 3001

[agent]
expertMode = true
