modules = ["python-3.12"]
run = "pip install django"

[nix]
channel = "stable-25_05"
packages = ["openssh_gssapi"]

[deployment]
run = ["sh", "-c", "python manage.py runserver 0.0.0.0:5000"]

[workflows]
runButton = "Django Development Server"

[[workflows.workflow]]
name = "Django Development Server"
author = 45763594
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python manage.py migrate"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python manage.py runserver 0.0.0.0:5000"

[[ports]]
localPort = 5000
externalPort = 80
